h1 a, h2 a {
  color: rgb(105, 155, 215), 61, 9);
}

body {
  padding-left: 15px;
}

html {
  background: url('https://www.ecopetit.cat/wpic/mpic/6-62853_free-delicious-food-wallpaper-hd-long-wallpapers.jpg');
}