{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<div class="card">
    <h1>{{ author.name }}</h1>
    <h2>{{ author.bio }}</h2>
    <h2>Recipes by {{ author.name }}:</h2>

    <ul>
        {% for recipe in recipe_data %}
            {% if recipe.author == author %}
                <li><a href="{% url 'recipe_details' id=recipe.id %}"> {{ recipe.title }}</a> </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h3>My Favorites:</h3>
    <ul>
        {% for recipe in author.favorite.all %}
        <li><a href='{% url 'recipe_details' id=recipe.id %}'>{{ recipe.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<p>
  <a href="{% url 'homepage' %}"><button>Back Home</button></a>
</p>
