<h1>Welcome To Patrick's Vegan Recipe Box!</h1>

<p><a href="{% url 'author_add_view' %}"> Add Author</a> | <a href="{% url 'recipe_add_view' %}"> Add Recipe</a></p>

<ul>
    {% for item in recipe_data %}
        <li>
            <h2 class='recipes'>
                <a href='recipes/{{item.id}}/'>{{ item.title }}</a> | by <a
                    href='authors/{{item.author.id}}'>{{ item.author.name }}</a>
            </h2>
            <ul>
                <li>
                    {{ item.description }}
                </li>
            </ul>
        </li>

    {% endfor %}
</ul>